$activeRouteBackgroundColor: #0088ff;

:host {
	display: block;
	position: sticky;
	top: 0;

	padding: 1rem;

	background-color: rgba($color: #ffffff, $alpha: 0.5);
  backdrop-filter: blur(10px);
}

.nav-links {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

a {
	padding: 1rem 1.5rem;

	border-radius: 8px;

	&:hover {
		background-color: rgba($color: $activeRouteBackgroundColor, $alpha: 0.5);
	}

	&.active {
		background-color: $activeRouteBackgroundColor;
	}
}
