<li
	(mouseenter)="toggleHovering(true)"
	(mouseleave)="toggleHovering(false)"
	[@hoverUnhover]="hovering ? 'hover' : 'unhover'"
	routerLinkActive="solid active"
	class="entry"
	[pokeTypes]="pokemonDetail()?.types"
>
	@if (pokemonDetail()) {
		<a [routerLink]="detailLink()">
			<img [src]="pokemonDetail()!.sprites.front_default" alt="" width="103" height="103" />
			<small>{{ pokemonDetail()!.name | pokemonName | uppercase }}</small>
		</a>
	} @else {
		<div class="image-placeholder"></div>
		<small>{{ pokemon().name | pokemonName | uppercase }}</small>
	}
</li>
