<li
	(mouseenter)="toggleHovering(true)"
	(mouseleave)="toggleHovering(false)"
	[@hoverUnhover]="hovering ? 'hover' : 'unhover'"
	routerLinkActive="solid active"
	class="px-8 py-4 rounded-lg"
	[pokeTypes]="pokemonDetail()?.types"
>
	@if (pokemonDetail()) {
		<a
			class="flex flex-col justify-center items-center gap-2 text-black no-underline"
			[routerLink]="detailLink()"
		>
			<img [src]="pokemonDetail()!.sprites.front_default" alt="" width="103" height="103" />
			<small>{{ pokemonDetail()!.name | pokemonName | uppercase }}</small>
		</a>
	} @else {
		<div class="w-[103px] h-[103px] bg-white"></div>
		<small>{{ pokemon().name | pokemonName | uppercase }}</small>
	}
</li>
