@use 'sass:map';

$mobileBreakpoinr: 640px;

$colors: (
	'bug': #91a119,
	'dark': #624d4e,
	'dragon': #5060e1,
	'electric': #fac000,
	'fairy': #ef70ef,
	'fighting': #ff8000,
	'fire': #e62829,
	'flying': #81b9ef,
	'ghost': #704170,
	'grass': #3fa129,
	'ground': #915121,
	'ice': #3dcef3,
	'normal': #9fa19f,
	'poison': #9141cb,
	'psychic': #ef4179,
	'steel': #60a1b8,
	'rock': #afa981,
	'water': #2980ef
);

@mixin desktop() {
	@media (min-width: $mobileBreakpoinr) {
		@content;
	}
}

@mixin entryBackground($color) {
	background-color: rgba($color: $color, $alpha: 0.5);

	&.solid,
	&:hover {
		background-color: rgba($color: $color, $alpha: 1);
	}

	*:not(img) {
		background-color: lighten($color: $color, $amount: 20);
	}
}

@mixin pokemonTypes() {
	@include entryBackground(#000000);

	@each $key, $value in $colors {
		&.#{$key} {
			@include entryBackground($value);
		}
	}
}
