@use '@styles/utils.scss' as *;

.gen {
	background-color: rgba($color: #000000, $alpha: 0.2);

  max-height: calc(100vh - 6rem);

  overflow-y: scroll;

	@include desktop {
		display: grid;
		grid-template-columns: 2fr 0fr 5fr;
	}
}

.dex-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.4rem;

	padding: 1rem;

	@include desktop {
		flex-direction: row;
		flex-wrap: wrap;

		margin: 0 auto;
		padding: 1rem;

		max-width: fit-content;
	}
}
