@use '@styles/utils.scss' as *;

.entry-detail {
	@include pokemonTypes;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 2rem;
  max-width: max-content;

  h2 {
    padding: 1rem 0.5rem;
  }

  * {
    background-color: #ffffff;
    border-radius: 8px;
  }
}
