:host {
	@apply sticky top-0 grid place-items-center max-h-[calc(100vh-6rem)];
}

.close-button {
	position: absolute; // Example of a style rule Angular Material has higher specificity for than Tailwind
}

.entry-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	padding: 2rem;
	max-width: max-content;

	border-radius: 8px;

	h2 {
		padding: 1rem 0.5rem;
	}

	img {
		background-color: #ffffff;
	}

	* {
		border: 1px solid #000000;
		border-radius: 8px;
	}
}

.types-list {
	display: flex;

	padding: 0.5rem;

	li {
		padding: 0.2rem;

		min-width: 64px;

		text-align: center;

		border: none;
		border-radius: 0;
	}
}
