/* You can add global styles to this file, and also import other style files */
@use '@styles/fonts.scss' as *;
@use '@styles/utils.scss' as *;

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	overflow-y: scroll;
}

html {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	@include pokemonTypes;

	background-image: url('../public/home-background.avif');
	background-size: cover;
	background-repeat: no-repeat;

	&.gen-1 {
		@include gen1-2;
		background-image: url('../public/gen-1-background.jpg');
	}
	&.gen-2 {
		@include gen1-2;
		background-image: url('../public/gen-2-background.png');
	}
	&.gen-3 {
		@include gen2;
		background-image: url('../public/gen-3-background.avif');
	}
	&.not-found {
		background-image: none;
	}
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.7rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}

small {
	font-size: 0.5rem;
}

a {
	display: inline-block;
}

ul {
	list-style: none;
}

.invisible {
	visibility: hidden;
}
