<main class="home">
	<h1>NG Dex</h1>
	<sub
		>A Pokédex app, powered by <a href="https://angular.dev">Angular</a> and
		<a href="https://pokeapi.co">PokeAPI</a>.</sub
	>
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae nisi itaque ab consectetur
		iusto neque suscipit quos at, pariatur excepturi ipsa aliquid omnis quod libero dolor!
		Accusamus inventore est ad? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos
		molestiae ut natus est quo aliquam. Cum reprehenderit provident veniam earum vero, minima
		voluptatibus. Tempore eum ratione iste libero fugit obcaecati.
	</p>
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet consequuntur libero,
		architecto optio deleniti quaerat officia! Molestias ex tempora libero nam, ratione corporis
		voluptatum ipsam animi, suscipit ad molestiae deserunt.
	</p>
	<mat-checkbox class="danger">Enable admin mode</mat-checkbox>
</main>
